*{
  margin: 0;
  padding: 0;
  transition: 0.25s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C280FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#cabecera{
  width: 120%;
  height: 10%;
  background-color: #6300BF;
  display: flex;
  align-items: center;
}

ul{
  list-style: none;
  display: flex;
}

li a{
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding: 20px;
  float: left;
  color: white;
}

li a:hover{
  background-color: #C280FF;
}

#logo{
  width: 47px;
  height: 47px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 7px;
}

label {
  position: relative;
  margin: 0 -35px;
  display: inline-block;
  width: 200px;
  height: 300px;
  line-height: 200px;
  color: #ddd;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 0 10px 6px -6px #777;
  -webkit-transform: skew(-20deg) rotate(-20deg);
          transform: skew(-20deg) rotate(-20deg);
  -webkit-transition: .3s;
  transition: 0.5s;
}

input[type="radio"] {
  display: none;
}
 
input[type="radio"]:hover ~ label {
  -webkit-transform: skew(20deg) rotate(20deg);
          transform: skew(20deg) rotate(20deg);
}
 
input[type="radio"]:hover + label {
  margin: 0 50px;
  -webkit-transform: none;
          transform: none;
}

.card-slider{
  margin: 60px auto;
  text-align: center;
}

.imgApp{ 
  width: 200px;
  height: 300px;
}

#contenedorSlide{
  width: 60%;
  height: 100%;
  background-color: white;
  margin-top: 2.5%;
  margin-left: 20%;
  margin-right: 20%;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contenedorTexto{
  width: 75%;
  height: 100%;
  background-color: white;
  margin-top: 2.5%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2.5%;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: black;
}

#contenedorTitulo{
  height: 100%;
  background-color: white;
  padding: 2%;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: black;
}

#contenedorQuienesSomos{
  display: flex;
  flex-direction: column;
  align-items: center;
}
